# Secrets
gdrive_key.json

# Python
venv/
**/__pycache__/
*.pyc

# JavaScript / Frontend Node Modules
**/node_modules/
.claude/settings.local.json

# Environment variables (Secrets)
.env
.env.local
.env*.local

# Local invoice files or data downloads
/invoices/
/output/